.baslik {
    font-family: $font-second;
    white-space: nowrap;
    letter-spacing: 3px;
}

.hover {
    cursor: pointer;
    transition: all 0.5s;
}

%design {
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;

    h1 {
        @extend .baslik;
        font-size: 30px;
    }

    p {
        font-size: 24px;
        max-width: 500px;
        text-align: center;
    }

    button {
        color: white;
        padding: 20px 50px;
        font-weight: 700;
        letter-spacing: 5px;
        background-color: transparent;
        border: 2px solid white;
        transition: background-color 0.5s;

        &:hover {
            @extend .hover;
            background-color: white;
            color: black;
        }
    }
}