@import 'variables';
@import 'modules';

@mixin mobile {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 1001px) and (max-width: 1500px) {
        @content;
    }
}

body {
    background-color: $background;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: $font-main;
    color: $text-color;

    nav {
        display: flex;
        align-items: center;
        padding: 20px 40px;

        a {
            text-decoration: none;
            color: $text-color;
            transition: color 0.3s, text-shadow 0.3s;
            white-space: nowrap;

            &:hover {
                color: $red !important;
                text-shadow: 2px 2px 10px $red;
                transition: all 0.5s;
            }
        }
    }

    #nav-left {
        img {
            max-width: 50px;
        }

        a {
            font-size: 15px;
            font-weight: 600;
            border-right: 1px solid;
            padding: 0 10px;
        }
    }

    #nav-right {
        a {
            font-size: 14px;
            color: gray;
            padding: 0 10px;
        }
    }
}

// KARŞILAMA ALANI

.hero {
    min-height: calc(100vh - 68px);
    padding: 100px;
    background: linear-gradient(to top, $background 60%, rgb(215, 215, 215) 60%);
    display: flex;
    justify-content: space-between;

    @include mobile {
        align-items: center;
        flex-direction: column;
    }

    @include tablet {
        align-items: center;
        flex-direction: column;
    }
}

#slogan {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    gap: 70px;

    @include tablet {
        gap: 50px;
    }

    h1 {
        @extend .baslik;
        font-size: 30px;
    }

    p {
        text-align: center;
        font-size: 22px;
    }

    img {
        max-width: 200px;
        mix-blend-mode: darken;
    }

    h2 {
        @extend .baslik;
        font-size: 26px;
        margin-top: 100px;
    }

    button {
        background-color: $red;
        padding: 10px 50px;
        border: none;
        font-weight: 700;
        color: white;
        letter-spacing: 3px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            @extend .hover;
            background-color: rgb(160, 0, 0);
        }
    }
}

#images {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    &-main {
        max-width: 600px;

        transition: all 0.3s;

        @include mobile {
            max-width: 200px;
        }

        &:hover {
            transform: translate(-200px, 50px);
            @extend .hover;
        }
    }

    &-second {
        max-width: 400px;
        mix-blend-mode: darken;
    }

    p {
        max-width: 500px;
        text-align: center;
    }
}

#interior {
    @extend %design;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, black),
        url(/images/s8.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#exterior {
    @extend %design;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, black),
        url(/images/s11.webp);
    background-size: cover;
    background-position: center;
}

//! arabalar alanı

#cars-section {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
        @extend .baslik;
        text-align: center;
    }

    .cars {
        display: flex;
        justify-content: center;
        padding: 10px 100px;
        gap: 50px;

        @include tablet {
            gap: 30px;
        }

        @include mobile {
            flex-direction: column;
        }

        &-card {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            @include tablet {
                width: 300px;
            }

            img {
                width: 100%;
                mix-blend-mode: darken;
            }

            h4 {
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    button {
        background-color: $blue;
        margin: auto;
        padding: 10px 50px;
        border: none;
        border-radius: 5px;
        transition: background 0.3s, color 0.3s;

        &:hover {
            @extend .hover;
            background: blue;
            color: white;
        }
    }
}

footer {
    background-color: black;
    display: flex;
    gap: 50px;
    padding: 40px;
    align-items: center;
    justify-content: center;

    img {
        max-width: 200px;
    }

    p {
        color: white;
    }
}